.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng Quan
      li
        a(href=`/${prefixAdmin}/topics`) Quản Lý Chủ Đề
      li
        a(href=`/${prefixAdmin}/songs`) Quản Lý Bài Hát
      li
        a(href=`/${prefixAdmin}/singers`) Quản Lý Ca Sĩ
      li
        a(href=`/${prefixAdmin}/roles/permissions`) Phân Quyền
      li
        a(href=`/${prefixAdmin}/accounts`) Tài Khoản Admin
      li
        a(href=`/${prefixAdmin}/users`) Tài Khoản User
      li
        a(href=`/${prefixAdmin}/settings/general`) Cài Đặt Chung